<!DOCTYPE html>
<html lang="en">

<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
    rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/gallery.css">
    <link rel="stylesheet" type="text/css" href="css/vit-gallery.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="css/styles.css">
    
    </head>

<body>
    <!-- HEADER -->
    <jcms:module:header/>
    <!-- END-HEADER -->

    <section class="banner-tems text-center career_banner">
        <div class="container">
            <div class="banner-content">
                <h2 class="text-uppercase">career</h2>
                <p>Build your career with us</p>
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="section-career">
        <div class="container">
            <div class="contact">

    <!-- career page-->
    <section class="about about-v2 about-v4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div class="about-centent text-left">
                        <h2 style="line-height: 1.5; margin-bottom:3rem; color: var(--color-primary);">Join Us in Making a Difference</h2>
                        <p class="about-p">Whether you're a student seeking a job opportunity or a future hospitality professional looking to gain invaluable experience, Hotel Seven Star is here to support your journey. Explore the opportunities available and discover how you can become a part of our thriving community. Together, we can create a lasting impact and shape the future of the hospitality industry.

                            <br><br>For more information on our scholarship and training programs, please drop your CV with a cover letter directly at  <a href="mailto:hr@hotelsevenstar.com.np">hr@hotelsevenstar.com.np</a>
                            
                            <br><br><b>Let's build a brighter future together!</b></p>
                    </div>
                    <!--<div class="text-center career_btn_page">
                        <a href="contact.html" target="_blank">Apply Now</a>
                    </div>-->
                </div>
            </div>

        </div>
    </section>
    <!-- END/ ABOUT-US-->
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <jcms:module:footer/>
    <!-- END / FOOTER-->
    <div class="whats_app">
        <a href="https://wa.me/+9779855080207" target="_blank" class="whatsapp">
            <i class="fa fa-whatsapp fa-3x"></i>
            </a>
     </div>
    <!--SCOLL TOP-->
    <a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--END / SROLL TOP-->

    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vit-gallery.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/jquery.littlelightbox.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="js/sky.js"></script>
        <script>
        $('.owl-carousel.image__slider').owlCarousel({
        loop:true,
        center: true,
        navText: ["<i class='fa fa-angle-left fa-2x'></i>", "<i class='fa fa-angle-right fa-2x'></i>"],
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:3
            }
        }
    })
        </script>
   
</body>

</html>