<!DOCTYPE html>
<html lang="en">

<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900' rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" >
    <link rel="stylesheet" href="css/ionicons.min.css" type="text/css" >
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" >
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-zoom.min.css'>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css'>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-thumbnail.min.css'>
    <link rel="stylesheet" href="css/vit-gallery.css" type="text/css" >
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css" >
    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css' />
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

    <!-- HEADER -->
    <jcms:module:header/>
    <!-- END-HEADER -->

    <!-- SLIDER -->
    <section class="section-slider height-v">
        <div id="index12" class="owl-carousel  owl-theme">
            <jcms:module:slideshow/>
     
        </div>
<!-- book now -->
<jcms:module:booking_undergallery/>
<!-- book now end -->
    </section>
    <!-- END / SLIDER -->
         <!-- ABOUT-US-->
 <!-- ABOUT-US-->
<jcms:module:home-article/>

<!-- END/ ABOUT-US-->
<!-- video -->
<!--<section class="video_wrapper">-->
<!--    <div class="container-fluid">-->
<!--      <video width="100%" height="100%" autoplay loop muted playsinline defaultmuted preload="auto">-->
<!--         <source src="images/sevenstar/video/1.mp4" type="video/webm"> -->
         
<!--      </video>-->
<!--    </div>-->
<!--  </section>-->
<!-- video end -->
 

    <!-- OUR-ROOMS-->
    <jcms:module:list-package-room/>
    <!-- END / ROOMS -->

    <!-- staycation -->
    <jcms:module:homeoffers-list/>
    <!-- staycation end -->
          <!--OUR-EVENTS-->
    <jcms:module:list-high-room/>
    <!-- END / OUR EVENTS -->
     <!-- stay cation end -->


    <!-- BEST -->
    <section class="best">
        <div class="container">
            <h2 class="our_services">Our Services</h2>
            <div class="line"></div>
            <div class="outline"></div>
            <div class="row">
                <jcms:module:facility-list-home/>
            </div>
        </div>
    </section>
    <!-- END / BEST -->
         <!-- OUR-GALLERY-->
    <section class="gallery-our">
        <div class="container-fluid">
            <div class="gallery">
                <h2 class="title-gallery">Our Gallery</h2>
                <div class="outline"></div>
                <ul class="nav nav-tabs text-uppercase">
                    <jcms:module:gallerynav/>
                </ul>
                <br/>
                <div class="tab-content">
                    <jcms:module:galleryHome/>
                </div>
            </div>
            <!-- /gallery -->
        </div>
        <!-- /container -->
    </section>
    <!-- END / OUR GALLERY -->
         <!-- nearby location -->
     <section class="near__by_location events events-v2 owl_carousel_nav">
        <div class="container">
            <h2 class="events-title">Nearby Location</h2>
            <div class="line-v2"></div>
            <div id="events-v2" class="owl-carousel owl-theme owl_content_display">
                <jcms:module:inner-nearby-detail/>
            </div>
        </div>
    </section>
     <!-- nearby location end -->

    <!-- TESTIMONOALS -->
   <jcms:module:testimonial-title/>
   
    <!-- END / OUR EVENTS -->
          <!-- ota -->
          <section class="ota_group">
            <div class="container">
              <div class="ota flex-wrap">
                <jcms:module:otatop/>    
            </div>
            </div>
          </section>
        <!-- ota end -->

    <!--FOOTER-->
    <jcms:module:footer/>
    <jcms:module:popup/>
    <!-- END / FOOTER-->
     <!-- whatsapp web -->
<jcms:module:footer-whatsapp/>
     <!-- whatsapp web end -->
    <!--SCOLL TOP-->
    <a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--END / SROLL TOP-->

    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vit-gallery.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.countTo.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquery.appear.min.js"></script> -->
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.littlelightbox.js"></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/thumbnail/lg-thumbnail.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js'></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4'></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="js/sky.js"></script>
    <script>
        const galleryIds = ['light_gallery', 'light_gallery1', 'light_gallery2', 'light_gallery3', 'light_gallery4'];
        
        galleryIds.forEach(lightgallery => {
            lightGallery(document.getElementById(lightgallery), {
                selector: 'a',
               plugins: [lgZoom],
            });
        });
    </script>
    <script>
    // // Function to calculate the next day from a given date
    // function getNextDay(date) {
    //     var nextDay = new Date(date);
    //     nextDay.setDate(nextDay.getDate() + 1);
    //     return nextDay.toISOString().split('T')[0];
    // }

    // // Get today's date
    // var today = new Date();
    // var todayFormatted = today.toISOString().split('T')[0];

    // // Set the check-in input's min attribute to today
    // document.getElementById('datepicker').min = todayFormatted;
    // document.getElementById('datepicker').value = todayFormatted;

    // // Calculate tomorrow's date
    // var tomorrow = new Date(today);
    // tomorrow.setDate(tomorrow.getDate() + 1);
    // var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

    // // Set the checkout input's min attribute to tomorrow
    // document.getElementById('datepickeri').min = tomorrowFormatted;
    // document.getElementById('datepickeri').value = tomorrowFormatted;

    // // Add change event listener to checkin date input
    // document.getElementById('datepicker').addEventListener('change', function() {
    //     var checkinDate = new Date(this.value);
    //     var checkoutDate = new Date(document.getElementById('datepickeri').value);
        
    //     if (checkoutDate <= checkinDate) {
    //         var newCheckoutDate = getNextDay(checkinDate);
    //         document.getElementById('datepickeri').value = newCheckoutDate;
    //     }
    // });

    // // Add change event listener to checkout date input
    // document.getElementById('datepickeri').addEventListener('change', function() {
    //     var checkinDate = new Date(document.getElementById('datepicker').value);
    //     var checkoutDate = new Date(this.value);

    //     if (checkoutDate <= checkinDate) {
    //         var newCheckoutDate = getNextDay(checkinDate);
    //         this.value = newCheckoutDate;
    //     }
    // });
    
      // Function to calculate the next day from a given date
    function getNextDay(date) {
        var nextDay = new Date(date);
        nextDay.setDate(nextDay.getDate() + 1);
        return nextDay.toISOString().split('T')[0];
    }

    // Get today's date
    var today = new Date();
    var todayFormatted = today.toISOString().split('T')[0];

    // Set the check-in input's min attribute to today
    document.getElementById('checkin').min = todayFormatted;
    document.getElementById('checkin').value = todayFormatted;

    // Calculate tomorrow's date
    var tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1);
    var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

    // Set the checkout input's min attribute to tomorrow
    document.getElementById('checkout').min = tomorrowFormatted;
    document.getElementById('checkout').value = tomorrowFormatted;

    // Add change event listener to checkin date input
    document.getElementById('checkin').addEventListener('change', function() {
        var checkinDate = new Date(this.value);
        var checkoutDate = new Date(document.getElementById('checkout').value);
        
        if (checkoutDate <= checkinDate) {
            var newCheckoutDate = getNextDay(checkinDate);
            document.getElementById('checkout').value = newCheckoutDate;
        }
    });

    // Add change event listener to checkout date input
    document.getElementById('checkout').addEventListener('change', function() {
        var checkinDate = new Date(document.getElementById('checkin').value);
        var checkoutDate = new Date(this.value);

        if (checkoutDate <= checkinDate) {
            var newCheckoutDate = getNextDay(checkinDate);
            this.value = newCheckoutDate;
        }
    });
    </script>
    
    <script type="text/javascript">
    $(document).ready(function () {
        $("#modal-popup-video").modal('show');
        $('#modal-popup-video').on('hidden.bs.modal', function () {
            $("#modal-popup-image").modal('show');
            console.log("video closed")
            $("#modal-popup-video iframe").attr("src", "");
        });
        $('#modal-popup-image').on('hidden.bs.modal', function () {
            // $('.deals ,.D-prev ,.D-next').removeClass('d-none');
        });
        if ($('#modal-popup-video')[0]) {
            $("#modal-popup-image").modal('hide');
        } else {
            $("#modal-popup-image").modal('show');
        }
        jQuery('.deals .close').on('click', function () {
            jQuery('.deals ').addClass('d-none');
        });
        $('#offon').on('click', function () {
            $('.deals ').toggleClass('d-none');
        });
    });
</script>
   
</body>

</html>