<!DOCTYPE html>
<html lang="en">

<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900'
    rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" >
    <link rel="stylesheet" href="css/ionicons.min.css" type="text/css" >
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" >
    <link rel="stylesheet" href="css/gallery.css" type="text/css" >
    <link rel="stylesheet" href="css/vit-gallery.css" type="text/css" >
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css" >
    <link rel="stylesheet" type="text/css"
    href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css' />
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="css/styles.css">

    </head>

<body>
    <!-- HEADER -->
    <jcms:module:header/>
    <!-- END-HEADER -->

   <jcms:module:offer_breadcrum/>
    <!-- staycation -->
    <section class="section-staycation">
<div class="container">
    <div class="stay_cation">
        <h3 class="text-center">Turn your home into a getaway—relax, explore, and enjoy local treasures with a staycation</h3>
        <div class="adventure">
            <jcms:module:offers-details/>
        </div>
    </div>
</div>
  <!-- popout modal -->
    <!-- Modal -->
  <jcms:module:offers-modal/>

    </section>
        <!-- staycation end -->
  <!-- popout modal end -->
    <!--FOOTER-->
    <jcms:module:footer/>
    <!-- END / FOOTER-->
    <jcms:module:footer-whatsapp/>
    <!--SCOLL TOP-->
    <a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--END / SROLL TOP-->

    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vit-gallery.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/jquery.littlelightbox.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="js/sky.js"></script>
    
    
    <jcms:module:offers-script/>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.stayCationBtn').on('click',function(){
                var title = $(this).data('title');
                $('input[name="offername"]').val(title);
            })
                
            $('#frm_staycation').validate({
                errorElement: 'span',
                errorClass: 'validate-has-error',
                rules: {
                    name: {required: true},
                    phone: {required: true},
                    email: {required: true, email: true},
                    message: {required: true}
                },
                messages: {
                    name: {required: "Please enter your Name."},
                    phone: {required: "Please enter Phone Number."},
                    email: {required: "Please enter your Email."},
                    message: {required: "Please enter your Message."}
                },
                submitHandler: function (form) {
                    var Frmval = $("form#frm_staycation").serialize();
                    $("button#submit").attr("disabled", "true").    ('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: "enquery_mail.php",
                        data: "action=forStay&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            $("button#submit").removeAttr("disabled").val('Submit Now');
                            $('div#result_msg').html(msg.message).css('display', 'block').addClass('alert alert-success').fadeOut(8000);
                            $("form#frm_staycation")[0].reset();
                        }
                    });
                    return false;
                }
            })
        });
    </script>
   
</body>

</html>